<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">


    <servlet>
        <servlet-name>PeliculaServlet</servlet-name>
        <servlet-class>org.example.iweb_lab6_20213745.servlets.PeliculaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PeliculaServlet</servlet-name>
        <url-pattern>/PeliculaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DetallesServlet</servlet-name>
        <servlet-class>org.example.iweb_lab6_20213745.servlets.DetallesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetallesServlet</servlet-name>
        <url-pattern>/DetallesServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActoresServlet</servlet-name>
        <servlet-class>org.example.iweb_lab6_20213745.servlets.ActoresServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActoresServlet</servlet-name>
        <url-pattern>/ActoresServlet</url-pattern>
    </servlet-mapping>



</web-app>
